name: Tests

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - run: bun install
      - name: Cache tools
        uses: actions/cache@v5
        with:
          path: ./tools/bin
          key: ${{ runner.os }}-aptre-tools-${{ hashFiles('tools/go.sum') }}
      - run: go mod vendor
      - run: bun run build
      - run: make test
      - run: bun run test:js
      - run: bun run lint:js
      - run: bun run lint:go
      - run: bun run integration
      - run: bun run deps
